/* .............................. Contact Us Page ............................ */
  
  #contact-section{
    padding: 0 5rem; 
  }
  .location-container iframe{
    width: 100%;
    border: 0;
  }
  .contact-details{
    text-align: center;
    margin-top: 5rem;
    padding: 2.5rem 0;
    font-size: 0.8rem;
    background-color: #ffffff;
    border-radius: 13px;
    border: 1px solid #959494;
  }
  .contact-form{
    margin-top: 3rem;
    color: #878787;
    padding: 0 25%;
  }
  .contact-form input,textarea{
      width: 100%;
      padding: 7px 8px;
  }
  .form-label{
    margin-bottom: 0.2rem;
  }
  .contact-submit-btn{
    padding: 0.35rem 1.4rem;
    border-radius: 16px;
    border: none;
    background-color: #2d3243;
    color: #F5F7FA;
  }
  .contact-icon{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  


  /* .............................. Page Not Found ............................ */
  .page_not_found_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  
  .fa-circle-exclamation {
    font-size: 64px;
    margin-bottom: 20px;
    color: #ff3f6c;
  }
  
  .page_not_found_message {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .page_not_found_container a{
    border: none;
    background-color: #2d3243;
    padding: 0.5rem 1.8rem;
    text-align: center;
    margin: 0 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
}

.page_not_found_container a:hover{
    background-color:  #202434;
}
  

  @media (max-width: 600px) {

  
    .page_not_found_message {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .page-not-found-link {
      font-size: 16px;
    }
  }
  