#footer {
    background-color: #2d3243;
  }
  
  .upper-footer {
    margin-top: 5%;
    padding: 5% 3% 2% 3%;
    color: #f5f7fa;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
  
  .upper-footer .footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .brand-logo-footer img {
    width: 70px;
    margin-top: -10px;
    margin-bottom: 3px;
  }
  
  .footer-heading {
    padding: 0.5rem 0;
    color: #f5f7fa;
    font-size: 1rem;
  }
  
  .footer-links ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-link {
    list-style-type: none;
    padding: 0.45rem 0;
    font-size: 0.78rem;
  }
  
  .footer-link a {
    color: #dae3ea;
  }
  
  address {
    margin-bottom: 0.45rem;
  }
  
  .social-links {
    margin-top: 0.45rem;
  }
  
  .social-links a {
    color: #dae3ea;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .app-button {
    padding: 0.5rem 1rem;
    border-radius: 40px;
    border: none;
    margin-right: 10px;
    background-color: #dae3ea;
  }
  
  .app-button i {
    font-size: 1.2rem;
    margin-right: 0.3rem;
  }
  
  .lower-footer {
    padding: 1rem 5%;
    color: #dae3ea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .lower-footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .lower-footer-content p {
    margin: 0;
    font-size: 0.78rem;
    margin-right: 2rem;
  }
  
  .lower-footer-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0;
  }
  


  @media screen and (max-width: 768px) {
    .upper-footer {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      text-align: center;
    }
  
    .upper-footer .footer-content {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .upper-footer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 2rem;
      text-align: center;
    }
  
    .upper-footer .footer-content {
      margin-bottom: 2rem;
    }
  }